<connectionStrings>
  <add name="lokalmusic-db"
       connectionString="Data Source=lokalmusic-server.database.windows.net;Initial Catalog=lokalmusic-db;User ID=lokalmusicadmin;Password=genegarcia06!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
       providerName="System.Data.SqlClient"/>
</connectionStrings>