<%@ Master Language="C#" MasterPageFile="~/Template/Site.Master" AutoEventWireup="true" CodeBehind="StoreLayout.master.cs" Inherits="LokalMusic.Template.StoreLayout" %>

<asp:Content ID="StoreContent" ContentPlaceHolderID="MainContent" runat="server">

    <%--Nav--%>
    <p>Store Content</p>
    <div class="container body-content">
        <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
    </div>

</asp:Content>
